.clicked {
  background-color:#fff;
  color:black;
}


th:first-child { color: black; }
.white { color: white; }
.white:visited { color: white;}
.white:hover {font-weight: bold;
  color: lightsteelblue;}
.white:active {color: lightsteelblue;}


.site {color:#232D48;}
.site:visited {color:#232D48;}
.site:hover {font-weight: bold;
  color: lightsteelblue;}


a { text-decoration: none;
}
a:visited { color: #afaeae;}
a:hover {font-weight: bold;
  color: lightsteelblue;}
a:active {color: rgb(175, 174, 174);}

table, th, td {
  /*border: 1px solid black;*/
  border-collapse: collapse;
  text-align: center;
  margin: 25px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}


.border {
  border: 1px solid black;
}
.backgray {
  background-color: #696969;
  color: white;
}

th, td {
  padding: 15px;
  text-align: left;
}

h1 {
      font-size:25px;
      text-align: center;
}

h2 {
      text-align: center;
}
p{
  text-align: center;

}
div:nth-of-type(1) {
  background-color:#232D48;
  padding: 20px;
  color: white;
}


div:nth-of-type(3) {
  padding: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
div:nth-of-type(4) {
  margin-bottom: 5px;
  margin-bottom: 100px;
}